.productGrid, .categoryGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
  margin-top: 20px;
}
.categoryGrid{
  grid-template-columns: repeat(7, 1fr); /* 5 items per row */
  /* padding: 10px 50px 30px 50px; */

}
.subhome{
  margin-top: 50px;
}

.productCard, .categoryCard {
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.2s;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.productCard:hover, .categoryCard:hover {
  transform: scale(1.05);
}

.productImage, .categoryImage {
  border-radius: 8px;
  width: 80px;
  height: 80px;
}

.heading {
  margin-top: 20px;
  font-size: 1.5em;
  font-weight: bold;
  color: #333;

}

.productName, .categoryName {
  margin: 10px 0 5px;
  font-size: 1.1em;
  color: #444;
  font-weight: bold;
}


.productPrice {
  color: #e67e22;
  font-size: 1.2em;
  font-weight: bold;
  margin: 5px 0;
}

.productDiscount {
  color: #e74c3c;
  font-size: 0.9em;
  font-weight: bold;
}

.link {
  text-decoration: none;
  color: inherit;
}



@media (min-width: 768px) and (max-width: 1023px) {
  /* Tablet layout */
  .productGrid, .categoryGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {
  /* Mobile layout */
  .productGrid, .categoryGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  /* Small Mobile layout */
  .productGrid, .categoryGrid {
    grid-template-columns: 1fr;
  }
  .categoryGrid {
    grid-template-columns: repeat(2, 1fr); /* 5 items per row */


  }


  .heading {
    font-size: 1.3em;
  }

  .productName, .categoryName {
    font-size: 1em;
  }

  .productPrice {
    font-size: 1em;
  }

  .productDiscount {
    font-size: 0.8em;
  }
}